<H2>String Interpolation</H2>
<h4>{{this.firstName}}</h4>
<h4>{{this.lastName}}</h4>
<h4>{{this.fullName}}</h4>
<h4>{{this.getFullName1()}}</h4>
<h4>{{this.getFullName2()}}</h4>
<h4>{{this.getFullName3()}}</h4>
<h4>{{this.getFullName4()}}</h4>
<h4>{{this.value1}}</h4>
<h4>{{this.value2}}</h4>
<h4>{{this.totalValue}}</h4>
<h4>{{this.getTotalValue1()}}</h4>
<h4>{{this.getTotalValue2()}}</h4>
<h4>{{this.getTotalValue3()}}</h4>
<h4>{{this.getTotalValue4()}}</h4>

<h2>Property Binding</h2>
<h3 [innerHTML]='this.firstName'></h3>
<h3 [innerText]='this.lastName'></h3>

<H3 innerText='{{this.firstName}}'></H3>
<h3 innerHTML='{{this.lastName}}'></h3>

<h3 [attr.innerHTML]='this.firstName'></h3>
<h3 [attr.innerText]='this.lastName'></h3>

<h3 attr.innerHTML='{{this.firstName}}'></h3>
<h3 attr.innerText ='{{this.lastName}}'></h3>
